

.tabview {
    height: 100%;
    width: auto;

    background: grey;

    position: relative;
}

.tabview-nav {
    position: absolute;

    height: 50px;
    width: 100%;

    background: white;

}


.tabview-pages {
    height: 100%;
    width: auto;

    overflow-x: scroll;
    overflow-y: hidden;  

    display: flex;
    flex-wrap: nowrap;
}
.tabview-page {
    height: 100%;
    max-width: 100vw;
    min-width: 100vw;
}